.ProductList {
    display: flex;
    flex-direction: column;
}

.ProductList-title {
    color: $dark-grey;
    font-weight: 500;
    line-height: 1.5;
    border-bottom: 1px solid transparentize($dark-grey, 0.8);
}

.ProductList-container {
    display: flex;
    flex-wrap: wrap;
}

.ProductList-product {
    @include drop-shadow($dark-grey, 0.95);
    text-align: center;
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 4px;

    img {
        height: 100%;
        width: 100%;
        padding: 20px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    h3 {
        margin: 0;
    }
}